@font-face { 
    font-family: GuyFont; 
    src: url('../fonts/Guyfont-Regular.otf')
}

body {
    font-family: GuyFont;
}

a {
    text-decoration: none;
}

p {
    font-size: xx-large;
}
