@font-face {
    font-family: GuyFont;
    src: url(../fonts/Guyfont-Regular.otf);
}

body {
    font-family: GuyFont;
}

p {
    font-size: xx-large;
}

a {
    text-decoration: none;
}

.return img {
    height: 100px;
    width: 100px;
    margin-top: 10px;
    margin-left: 30px;
}