@font-face {font-family: GuyFont; src: url(../fonts/Guyfont-Regular.otf);}

body {font-family: GuyFont;}

a {text-decoration: none;}

.return img {
    max-height: 100px;
    max-width: 100px;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
}

.head {
    position: absolute;
    top: 60px;
    left: 140px;
}

p {
    position: fixed;
    top: 125px;
    left: 40px;
}
